button#create-category-btn {
    color: #f9faff !important;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

button#create-category-btn:hover {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#create-category-btn:not(:disabled):not(.disabled):active,
button#create-category-btn:not(:disabled):not(.disabled).active,
.show > button#create-category-btn.dropdown-toggle {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#create-category-btn:not(:disabled):not(.disabled):active:focus,
button#create-category-btn:not(:disabled):not(.disabled).active:focus,
.show > button#create-category-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 51, 131, 0.5) !important;
}

button#create-category-btn:focus,
button#create-category-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5) !important;
}

button#create-btn {
    color: #f9faff !important;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

button#create-btn:hover {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#create-btn:not(:disabled):not(.disabled):active,
button#create-btn:not(:disabled):not(.disabled).active,
.show > button#create-btn.dropdown-toggle {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#create-btn:not(:disabled):not(.disabled):active:focus,
button#create-btn:not(:disabled):not(.disabled).active:focus,
.show > button#create-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 51, 131, 0.5) !important;
}

button#create-btn:focus,
button#create-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5) !important;
}

button#edit-category-btn {
    color: #504ee0 !important;
    background-color: transparent !important;
    border-color: #504ee0 !important;
}

button#edit-category-btn:hover {
    color: #f9faff !important;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

button#update-btn {
    color: #f9faff !important;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

button#update-btn:hover {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#update-btn:not(:disabled):not(.disabled):active,
button#update-btn:not(:disabled):not(.disabled).active,
.show > button#update-btn.dropdown-toggle {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#update-btn:not(:disabled):not(.disabled):active:focus,
button#update-btn:not(:disabled):not(.disabled).active:focus,
.show > button#update-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 51, 131, 0.5) !important;
}

button#update-btn:focus,
button#update-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5) !important;
}

/* thead.thead-finote {
    background-color: #504ee0;
    color: white;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(80, 78, 224, 0.05);
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: rgba(80, 78, 224, 0.05);
} */
