html,
body {
    height: 100vh;
    margin: 0;
}

/* Hero Section */
.hero {
    background-color: #f9faff;
    background-image: url("/img/bg.png");
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    padding-top: 205px;
    padding-bottom: 205px;
}
img.laptop {
    width: 100%;
}

.text h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    text-transform: capitalize;

    color: #343383;
}

.text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    /* identical to box height */

    text-transform: capitalize;

    color: rgba(52, 51, 131, 0.5);
}

a#signup-btn {
    border: 2px solid #343383;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    background-color: #343383;
    color: #f9faff;
}

a#signup-btn:hover {
    color: #343383 !important;
    background-color: #f9faff !important;
    border-color: #343383 !important;
}

a#signup-btn:not(:disabled):not(.disabled):active,
a#signup-btn:not(:disabled):not(.disabled).active,
.show > a#signup-btn.dropdown-toggle {
    color: #343383 !important;
    background-color: #f9faff !important;
    border-color: #343383 !important;
}

a#signup-btn:focus,
#signup-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 51, 131, 0.5);
}

a#signup-btn:not(:disabled):not(.disabled):active:focus,
a#signup-btn:not(:disabled):not(.disabled).active:focus,
.show > a#signup-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 51, 131, 0.5);
}
/* About Section */

.about-sec {
    background-color: #f9faff;
    background-image: url("/img/bg2.png");
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 106.2px;
    padding-bottom: 106.2px;
}

img.savings {
    width: 100%;
}

.about h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #504ee0;
}

.about h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;

    color: #343383;
}

p.caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: rgba(52, 51, 131, 0.8);
}

p.sub {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: rgba(52, 51, 131, 0.5);
}

/* Feature Section */

.feature-sec {
    background-color: #f9faff;
    padding-top: 88px;
    padding-bottom: 88px;
}

.feature {
    margin: 0 auto;
    max-width: 600px;
}

.feature h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: #504ee0;
}

.feature h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;

    color: #343383;
}

.feature p.caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: rgba(52, 51, 131, 0.5);
}

.card {
    background-color: transparent !important;
    border: 0px !important;
    text-align: center !important;
    padding: 1rem;
}

span.feature-icon {
    font-size: 5rem;
    --fa-primary-color: #504ee0;
    --fa-secondary-color: #504ee0;
    --fa-secondary-color-opacity: 40%;
}

.card-title h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #504ee0;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: rgba(80, 78, 224, 0.5) !important;
}

/* User Section */

.user-sec {
    background: linear-gradient(115.92deg, #4d4ba2 0%, #6c63ff 100%);
    padding-top: 100.5px;
    padding-bottom: 100.5px;
}

.user h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: rgba(249, 250, 255, 0.5);
}

.user {
    margin: 0 auto;
    max-width: 600px;
}

.user h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;

    color: #f9faff;
}

.user p.caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: rgba(249, 250, 255, 0.8);
}

#user-card {
    background: #f9faff !important;
    border: 0px !important;
    text-align: center !important;
    padding: 1rem;
    height: 237px;
    box-shadow: 0px 0px 12px rgba(155, 166, 234, 0.5);
    border-radius: 10px;
}

span.user-icon {
    font-size: 5rem;
    --fa-primary-color: #504ee0;
    --fa-secondary-color: #504ee0;
    --fa-secondary-color-opacity: 40%;
}

.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #504ee0;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: rgba(52, 51, 131, 0.5);
}

/*Team Section*/

.team-sec {
    background-color: #f9faff;
    padding-top: 107.5px;
    padding-bottom: 107.5px;
}

.team {
    margin: 0 auto;
    max-width: 600px;
}

.team-body {
    margin: 0 auto;
    max-width: 800px;
    height: 236px;
}

.team h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: #504ee0;
}

.team h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;

    color: #343383;
}

.team p.caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: rgba(52, 51, 131, 0.5);
}

p.team-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: #343383;
}

h6.team-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: #343383;
}

h6.team-pos {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;

    color: rgba(52, 51, 131, 0.5);
}

span.previous {
    font-size: 3rem;
    --fa-primary-color: #504ee0;
    --fa-secondary-color: #504ee0;
    --fa-secondary-color-opacity: 40%;
}

span.next {
    font-size: 3rem;
    --fa-primary-color: #504ee0;
    --fa-secondary-color: #504ee0;
    --fa-secondary-color-opacity: 40%;
}

/* Contact Section */

.contact-sec {
    background-color: #f9faff;
    padding-top: 84.5px;
    padding-bottom: 84.5px;
}

.contact {
    margin: 0 auto !important;
    max-width: 800px !important;
    border: 2px solid #504ee0;
    background-color: #504ee0;
    padding: 3rem 5rem;
    border-radius: 10px;
}

.contact h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: rgba(249, 250, 255, 0.5);
}

.contact h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;

    color: #f9faff;
}

.contact p.caption {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: rgba(249, 250, 255, 0.8);
}

#contact-form {
    text-align: left !important;
}

#contact-form label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #f9faff;
}

#contact-btn {
    font-family: Roboto;
    font-style: normal;
    background-color: transparent !important;
    border-color: #f9faff !important;
    color: #f9faff !important;
}

#contact-btn:hover {
    background-color: #f9faff !important;
    border-color: #f9faff !important;
    color: #504ee0 !important;
}

#contact-btn:focus,
#contact-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 250, 255, 0.5);
}

/* Footer */
footer.sticky-footer {
    padding: 1.5rem 3rem;
    flex-shrink: 0;
}

span.footer-copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #504ee0;
}
