button#add-entry-btn {
    color: #f9faff !important;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

button#add-entry-btn:hover {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#add-entry-btn:not(:disabled):not(.disabled):active,
button#add-entry-btn:not(:disabled):not(.disabled).active,
.show > button#add-entry-btn.dropdown-toggle {
    color: #f9faff !important;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

button#add-entry-btn:not(:disabled):not(.disabled):active:focus,
button#add-entry-btn:not(:disabled):not(.disabled).active:focus,
.show > button#add-entry-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 51, 131, 0.5) !important;
}

button#add-entry-btn:focus,
button#add-entry-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5) !important;
}

.container-fluid {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-header {
    background-color: #f9faff;
    padding: 1.5rem 1.5rem;
}
