.btn-primary {
    color: #fff;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #4e73df !important;
    border-color: #4e73df !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #504ee0 !important;
    border-color: #504ee0 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #343383 !important;
    border-color: #343383 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #343383 !important;
    border-color: #343383 !important;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.container-fluid {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
