.login-sec {
    height: 100%;
    background-color: #f9faff;
    display: flex;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    color: #343383;
}

button#login-btn {
    border: 2px solid #343383;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    color: #f9faff;
    background-color: #343383 !important;
}

button#login-btn:active {
    color: #f9faff !important;
    background-color: #9291cd !important;
    border-color: #9291cd !important;
}

button#login-btn:focus,
button#login-btn.focus {
    color: #f9faff;
    background-color: #9291cd !important;
    border-color: #9291cd !important;
    box-shadow: 0 0 0 0.2rem rgba(146, 145, 205, 0.5) !important;
}

.login-container h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #343383;
}

.form-login p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #9291cd;
}

.form-login a {
    color: #9291cd !important;
}
.form-login a:hover {
    color: #343383 !important;
}
