.fixed-top {
    position: absolute !important;
}

a.navbar-brand.logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #504ee0;
}

a#signin-btn {
    border: 2px solid #f9faff;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    color: #f9faff;
}

a#signin-btn:hover {
    color: #504ee0 !important;
    background-color: #f9faff !important;
    border-color: #f9faff !important;
}

a#signin-btn:not(:disabled):not(.disabled):active,
a#signin-btn:not(:disabled):not(.disabled).active,
.show > a#signin-btn.dropdown-toggle {
    color: #504ee0 !important;
    background-color: #f9faff !important;
    border-color: #f9faff !important;
}

a#signin-btn:focus,
a#signin-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 250, 255, 0.5);
}
